*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
.wrapper{
  
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

}
.hello{
    background-color: rgb(43, 226, 43);
    font-size: 20px;
    width: fit-content;
    padding: 0.2rem 1.4rem;
    box-shadow: 4px 4px 3px 0px blue;
    cursor: pointer; /* Cursor pointer into finger pointer */
    transition: all 0.3;
    font-weight: 600;
    position: relative;
    z-index: 2;
   
}
.hello::before{
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    position: absolute;
    background-color: rgb(226, 134, 43);
    transform: scaleX(0);
    transform: left;
    transition:all 0.7s;
}
.hello:hover::before{
    transform: scaleX(1);

}
.hello:hover{
     color: #ffffffff;
}